API_URL=https://reactnative.dev

EXPO_UPDATES_ENABLED=true
EXPO_UPDATES_URL=http://localhost:8080
EXPO_UPDATES_RUNTIME_VERSION=1
EXPO_UPDATES_CHECK_ON_LAUNCH=WIFI_ONLY
EXPO_UPDATES_RELEASE_CHANNEL=default
